<!-- Color Lib for footer components-->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/color-lib/css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/color-lib/css/ionicons.min.css')}}">
<footer class="footer-10">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4">
                        <h2 class="footer-heading">Kontak Kami</h2>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <a class="d-block">
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Jl Margonda Raya No. 1, Pondok Cina Kota Depok, Jawa Barat, Indonesia
                                </a>
                            </li>
                            <li class="mb-3">
                                <a class="d-block">
                                    <i class="bi bi-envelope"></i>
                                    centralcare.ai@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4">
                        <h2 class="footer-heading">Produk</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="d-block">
                                    Chatbot
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    OCR
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    Point Of Sales
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    Inteligence System
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4">
                        <h2 class="footer-heading">Komunitas</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="d-block">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    Group UMKM Telegram
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Subscribe</h2>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control rounded-left" placeholder="Masukkan email kamu">
                        <button type="submit" class="form-control submit rounded-right">Subscribe</button>
                    </div>
                    <span class="subheading mt-3">Daftarkan email untuk mendapatkan kabar menarik dari kami</span>
                </form>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top">
            <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
                <p class="copyright mb-0">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    PT Central Artificial Inteligence
                </p>
            </div>
            <div class="col-md-6 col-lg-4 text-md-right">
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="https://www.instagram.com/central_ai/" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                    <li class="ftco-animate"><a href="https://www.linkedin.com/company/central-ai/about/" data-toggle="tooltip" data-placement="top" title="Linkedin"><span class="ion-logo-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>