<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="text-center mb-4">
                    <h4 class="fw-bolder">Metode Pembayaran Terpopuler</h4>
                    <p class="fs-6">Platform Pembayaran yang paling sering digunakan</p>
                </div>
                <!-- Item Metode Pembayaran Terpopuler -->
                <div class="card shadow mt-3 produk">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-3">
                                <img class="fit-image"
                                    src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/bu2qhcx0odh9ilabdeyu"
                                    alt="produk">
                            </div>
                            <div class="col align-self-center">
                                <h6 class="text-dark fw-bolder">
                                    Dana
                                </h6>
                                <p class="text-dark">
                                    Rp. 400.000.000
                                </p>
                            </div>
                            <div class="col-3 bg-dark text-center">
                                <div class="fit-content">
                                    <h5 class="text-white">10.000</h5>
                                    <p class="text-white text-xs">Transaksi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>